/*

Palette:

#CCFFD1
#E8F4EA
#D2E7D6
#E0F0E3
#C8E1CC
#B8D8BE


--timberwolf: #D5D2CCff;
--cambridge-blue: #82A398ff;
--silver: #C4C7BFff;
--gray: #707771ff;
--antiflash-white: #EBEAECff;
*/


@media screen  and (max-width: 852px) {

    * {
        font-family: Poppins, sans-serif;
    }

    .title {
        position: absolute;
        font-size: 36px;
        left: 140px;
        top: 120px;

    }

    .titlelogo {
        position: relative;
        right: -170px;
        top: -50px;
    }

    .section {
        bottom: 0;
    }

    .section-primary {
        height: 400px;
    }

    .marble-background {
        background-image: url('img/stone-background-with-golden-strokes_125540-130.jpg'); /* Replace with the actual path to your marble background image */
        background-size: cover;
        background-position: center;
        position: absolute;
        padding: 115px 0;
        text-align: center;
        top: 70px;
        height: 25%;
        width: 100%;
    }



    .profileheader {
        left: 0;
        top: 10px;
        text-align: center;
    }


    body {
        margin: 0;
        padding: 0;

        background-color: #ffffff;
        overflow-x: hidden;

        width: 100%;
        height: 100%;

    }


    #fixed-header-container {
        position: fixed;
        top: 0;
        width: 100%;
        background: #82A398ff;
        transition: top 0.3s;
        z-index: 9999;
    }

    .producttext {
        position: relative;
        text-align: center;

        bottom: 550px;
        font-size: 32px;
        text-transform: uppercase;

        border-bottom: 1px solid #cbcbcb;
    }

    .profileheader {
        position: absolute;
        text-align: center;
        left: 715px;
        top: 7px;
        right: 0;

        border-radius: 50px;

    }



    .header {

        position: absolute;
        min-height: 50px;
        width: 100%;
        height: 80px;
        top: 0;
        left: 0;
        right: 0;


        background: #82A398ff;

    }


    .formtitle,
    .navbarlogo,
    .navbar a {
        background-image: linear-gradient(
                to right,
                rgb(213, 213, 177),
                #d5d5b1 50%,
                #ffffff 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 1px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .navbarlogo:before,
    .navbar a:before {
        content: '';
        background: #d5d5b1;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .navbarlogo:hover,
    .navbar a:hover {
        color: #EBEAECff;
        background-position: 0;
        transition: color 0.15s ease-in-out;
    }

    .navbarlogo:hover::before,
    .navbar a:hover::before {
        width: 100%;
    }


    .navbar-primary {
        position: absolute;
        top: 15px;
        right: 100px;
        text-transform: uppercase;
        word-spacing: 40px;
        display: none;
    }

    .navbarlogo {
        position: absolute;
        top: 29px;
        left: 715px;


        text-transform: uppercase;
    }


    .no-spacing {
    !important;
        word-spacing: 0;
    }


    .overmij {
        position: absolute;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        top: 410px;


    }

    .overmijinfo {
        position: absolute;
        top: 450px;
        left: 7px;
        font-size: 14px;
        padding: 35px 0 30px;
        width: 100%;


        border-bottom: 1px solid #cbcbcb;

    }


    .portfoliotext {
        position: absolute;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        top: -180px;
        border-bottom: 1px solid #cbcbcb;

    }


    p {
        line-height: 1.8;

    }


    .overmijinfo2 {
        top: 1100px;

    }


    .textovermij {
        position: relative;
        text-align: center;
    }

    .overmijimg {
        position: relative;
        left: 180px;
        top: 700px;
        padding: 100px 0 100px 0;
        background-image: url("img/logoalyah.jpg");
        background-size: auto;
        background-repeat: no-repeat;
        width: 60%;


        background-color: #B8D8BE;

    }

    .overmijlogo {
        position: relative;
        top: 20px;
        left: 390px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 80px;


    }


    .first-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        gap: 75px;
        margin-top: 744px;
        margin-left: -125px;
        height: 375px;
        width: 600px;

    }

    .portfolioimg,
    .item {
        background-color: #ffffff;
        box-shadow: 2px 3px 5px 3px #d5d5d5;
    }

    .second-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 50px;
        justify-content: space-evenly;
        margin-top: -550px;


        padding: 60px 0 60px 0;
    }


    .afspraakmaken,
    .webshop {
        position: relative;
        top: 11px;
        left: 250px;

    }

    .afspraakbutton a {
        text-decoration: none;
        color: white;

    }

    .afspraakbutton {
        position: relative;
        border: none;
        background-color: #B8D8BE;
        text-transform: uppercase;

        left: 55px;
        bottom: -10px;

        align-self: center;


        height: 50px;
        width: 150px;
    }

    .afspraakbutton:hover {
        background-color: #78b081;
    }

    .productbtn a {
        text-decoration: none;
        color: white;
    }

    .productbtn {
        position: relative;
        border: none;
        background-color: #B8D8BE;
        text-transform: uppercase;


        left: 30px;
        bottom: 5px;


        height: 30px;
        width: 150px;

    }

    .productbtn:hover,
    .afspraakbutton:hover {
        background-color: #ffffff;
        box-sizing: border-box;
        width: 38%;
        border: solid #B8D8BE 2px;
    }


    .productbtn:hover a,
    .afspraakbutton:hover a {
        color: #B8D8BE;
        transition: color 0.3s ease-in-out;

    }

    .afspraakimg {
        box-shadow: 0 1px 10px #7a7a7a;
        width: 100%;
        height: 50%;

    }

    .producthome {
        text-transform: uppercase;
        text-align: center;

    }

    .bhja {
        text-align: center;
        text-transform: uppercase;
    }


    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 50px;
    }

    .div1 {
        grid-area: 1 / 1 / 5 / 3;
    }

    .div2 {
        grid-area: 1 / 5 / 5 / 7;
    }

    .div3 {
        grid-area: 1 / 3 / 5 / 5;
    }


    .div1 {
        position: relative;
        left: 280px;
        top: -340px;
    }

    .div2 {
        position: relative;
        right: 120px;
    }

    .div3 {
        position: relative;
        right: 120px;
        top: -740px;
    }

    .div6 {
        position: relative;
        left: 280px;
        top: -401px;

}


    .portfolioimg {
        position: relative;
        top: 25px;
        left: 25px;
        width: 60%;
        height: 60%;
    }

    .portfolioimg:hover {
        opacity: 20%;
        transition: opacity 0.2s;
    }

    .parent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .parent .portfolioimg {
        max-width: 100%;
        height: auto;
        transition: opacity 0.2s;
    }

    .parent .portfolioh3 {
        opacity: 0;
        position: relative;
        text-align: center;
        transition: opacity 0.2s;
    }

    .parent div {
        margin: 5px;
        position: relative;
    }

    .parent div:hover .portfolioh3 {
        opacity: 1;
    }


    .footerhome {
        position: absolute;
        min-height: 125px;
        left: 0;
        bottom: -2700px;
        width: 100%;
        height: 50%;
        background-color: rgb(184, 216, 190);
        color: #000000;
        text-align: center;
        text-transform: uppercase;

    }


    .footertext {
        position: relative;
        text-transform: uppercase;
        font-size: 14px;
        text-align: left;
        left: 10px;
        top: 20px;

    }

    .secondairytext {
        font-size: 8px;
    }

    .underfooter {
        position: relative;
        background-color: #ffffff;
        width: 100%;

        text-align: center;
        bottom: -230px;
    }

    .mobile-menu {
        display: block;

    }

    /* Additional styles for the mobile menu */
    .menu-items {
        background-color: #c4c7bf; /* Background color for the dropdown */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 900px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: none; /* Hide menu items by default */
    }

    .menu-toggle {

    }

    .menu-items.active {
        display: block; /* Show menu items when active class is applied */
    }

    .menu-items li {
        margin: 120px 0;
        text-decoration: none;
        font-size: 20px;


    }

    .menu-items li a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
        text-transform: uppercase;

    }
    .navbar.navbar-primary {
        display: none; /* Hide the menu when the screen width is under 480px */
    }

}



